{% include 'dashboard/bootstrap4.html' %}
{% include 'dashboard/navbar.html' %}

<style>
  .flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid blue;
}  

.flex-child:first-child {
    margin-right: 20px;
} 
</style>



<head>

<div class="jumbotron">
  <h1 class="display-4">US Covid Dashboard</h1>
  <p class="lead">This is my project for IBM. Working on this for the past week has been extremely educational and fulfilling, and I look foward
  to continuing this project. Due to the time constraints and other work, there are a number of things I was not able to implement in time, but am excited to continue to work to implement them.  Some of those things are render multiple graphs on the home page, continue to implement the rest framework, implemnt a search bar for the tables, and allow grouping of the table data.  </p>
  <hr class="my-4">
  <p>Use the button below to learn more about this websites developer</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/joshparker99" role="button">Learn more</a>
  </p>
</div>
</head>

 
<body>
  {% include 'dashboard/state_death_chart.html' %}
 <!-- TODO: Get additional graphs to render properly -->
</body>

<!--Only show the upload CSV file optuion to admin users -->
{% if request.user.is_staff %}
    <div id="upload"class="card" style="width: 25rem; height: 8rem, ">
        <div class="card-body">
            <h6 class="card-title">STAFF ONLY:</h6>
            <p class="card-text">Found a better CSV file, upload here</p>
            <a href="/upload-state-csv/" class="card-link">State Table</a>
            <a href="/upload-nation-csv/" class="card-link">Nation Table</a>
        </div>
    </div>
    {% endif %}