{% include 'dashboard/bootstrap4.html' %}
{% include 'dashboard/navbar.html' %}

<style>
.header{
	color: white;
	text-align: center;
	background: #1E90FF;
}
</style>

<div class="header">
	<h1>Looking to Help, Donate to an Organization Below</h1>
</div>




<body>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Feeding America Covid-19 Response Fund</h5>
        <p class="card-text">As a result of the COVID-19 pandemic, many food pantries have struggled to remain fully stocked, especially as the number of food-insecure people has increase exponentially due to layoffs and national shutdowns. Feeding America started a COVID-19 emergency response fund to ensure their food banks and pantries have enough supplies to respond to the increased demand and help those in need.</p>
        <a href="https://secure.feedingamerica.org/site/Donation2?28371.donation=form1&df_id=28371&mfc_pref=T&s_onsite_promo=take_action&s_src=W204ORGSC&s_referrer=google&s_channel=google&s_subsrc=https%3A%2F%2Fwww.feedingamerica.org%2Ftake-action%2Fcoronavirus&_ga=2.58138858.1164425527.1586352406-808902550.1585936825" class="btn btn-primary">Donate</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Meals on Wheels Covid-19 Response Fund</h5>
        <p class="card-text">In light of COVID-19, Meals on Wheels has become increasingly essential, as this organization delivers meals to individuals at home who are unable to purchase or prepare their own food. For those are immune compromised or at higher risk of infection, such as the elderly, Meals on Wheels has been essential for getting through the pandemic. </p>
        <a href="https://ams.mealsonwheelsamerica.org/eweb/DynamicPage.aspx?WebCode=covid19donate&site=mowa&CampCode=COVID-19EmergencyResponseCamp&AplCode=2020ER-POP-UP-COVID-19&_ga=2.149797750.1576770089.1586352634-1817139859.1586352633" class="btn btn-primary">Donate</a>
      </div>
    </div>
  </div>
</div>
&nbsp;
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Habitat for Humanity</h5>
        <p class="card-text">Habitat for Humanity, a nonprofit that helps families in need to build and improve their homes, has released a COVID-19 call-to-action, as millions of Americans face eviction and homelessness due the economic travesty caused by the coronavirus pandemic. Donations to Habitat for Humanity enables this organization to support families and provide them with housing security in this time of uncertainty.</p>
        <a href="https://www.habitat.org/donate/?keyword=menu-top" class="btn btn-primary">Donate</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Frontline Impact Project</h5>
        <p class="card-text">The Frontline Impact Project is looking for donations, both of money and supplies, in order to support the dedicated frontline healthcare workers who have put their lives at risk in order to treat those affected by COVID-19. Donations will directly help frontline workers, as well as their families, as it will provide them with necessary resources and support their continued efforts to stop the coronavirus pandemic.</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="https://www.frontlineimpact.org/" class="btn btn-primary">Donate</a>
      </div>
    </div>
  </div>
</div>
    

 </body>  
