{% include 'dashboard/bootstrap4.html' %}
{% include 'dashboard/navbar.html' %}

<style>
	.header {
		background: #1E90FF;
		text-align: left;
		color: white;
		font-family: Arial, sans-serif;
		padding: 10
	}
	h1 {
		font-size: 20px
	}

	
	</style>

<div class="header">
	<h1>Delete Page</h1>
</div>
<form method="post">
	{% csrf_token %}
	<div class="card" style="width: 25rem; height: 10rem, background: blue">
  		<div class="card-body">
    		<h5 class="card-title">Data for US on {{ object.date }}</h5>
    		<p class="card-text">Are you sure you want to delete?</p>
    		<input type="submit" value="Confirm">
    		<a href="/National/{{object.id}}/" class="card-link">cancel</a>
  		</div>
	</div>
</form>