{% include 'dashboard/bootstrap4.html' %}

<ul class="list-group">
  <li class="list-group-item active">US National data for date: {{ object.date }}</li>
  <li class="list-group-item">Deaths: {{ object.death }}</li>
  <li class="list-group-item">DeathIncrease: {{ object.deathIncrease }}</li>
  <li class="list-group-item">InIcuCumulative: {{ object.InIcuCumulative }}</li>
  <li class="list-group-item">InIcuCurrently: {{ object.InIcuCurrently }}</li>
  <li class="list-group-item">hospitalizedIncrease: {{ object.hospitalizedIncrease }}</li>
  <li class="list-group-item">hospitalizedCurrently: {{ object.hospitalizedCurrently }}</li>
  <li class="list-group-item">hospitalizedCumulative: {{ object.hospitalizedCumulative }}</li>
  <li class="list-group-item">negative: {{ object.negative }}</li>
  <li class="list-group-item">negativeIncrease: {{ object.negativeIncrease }}</li>
  <li class="list-group-item">onVentilatorCumulative: {{ object.onVentilatorCumulative }}</li>
  <li class="list-group-item">onVentilatorCurrently: {{ object.onVentilatorCurrently }}</li>
  <li class="list-group-item">positive: {{ object.positive }}</li>
  <li class="list-group-item">positiveIncrease: {{ object.positiveIncrease }}</li>
  <li class="list-group-item">states: {{ object.states }}</li>
  <li class="list-group-item">totalTestResults: {{ object.totalTestResults }}</li>
  <li class="list-group-item">totalTestResultsIncrease: {{ object.totalTestResultsIncrease }}</li>
</ul>

<p> 

</p>

<div class="card" style="width: 30rem; height: 10rem;">
  <div class="card-body">
    <h5 class="card-title">Notice Any Issues?</h5>
    <p class="card-text">Please update the data accordingly or if need be, delete this data entry and enter a new one.</p>
    <a href="/National/{{ object.id }}/update/" class="card-link">update</a>
    <a href="/National/{{ object.id }}/delete/" class="card-link">Delete</a>
  </div>
</div>
