{% include 'dashboard/bootstrap4.html' %}

. 
<script>
{% block jquery%}
var endpoint='/api/statechart/data'
var tableData=[]
var chartlabels=[]

$.ajax({
  method: "GET",
  url: endpoint,
  success: function(data) {
    console.log(data)
    tableData = data.dataView
    chartlabels = data.labelsView
    var ctx= document.getElementById('myChart')
    var myChart = new Chart(ctx, {
      type:'bar',
      data: {
        labels: chartlabels,
        datasets: [{
          label: data.chartLabel,
          data: tableData 

        }]
      }

    })
  },
  
})

{% endblock %}
</script>

 



<canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById('myChart');
</script>