<h1>date: {{ object.date }}</h1>
<p>state: {{ object.state }}</p>
<p>Data Quality Grade: {{ object.dataQualityGrade }}</p>
<p>Deaths: {{ object.death }}</p>
<p>deathIncrease: {{ object.deathIncrease }}</p>
<p>Death Probable: {{ object.deathProbable }}</p>
<p>InIcuCumulative: {{ object.InIcuCumulative }}</p>
<p>InIcuCurrently: {{ object.InIcuCurrently }}</p>
<p>hospitalizedIncrease: {{ object.hospitalizedIncrease }}</p>
<p>hospitalizedCurrently: {{ object.hospitalizedCurrently }}</p>
<p>hospitalizedCumulative: {{ object.hospitalizedCumulative }}</p>
<p>negative: {{ object.negative }}</p>
<p>negativeIncrease: {{ object.negativeIncrease }}</p>
<p>onVentilatorCumulative: {{ object.onVentilatorCumulative }}</p>
<p>onVentilatorCurrently: {{ object.onVentilatorCurrently }}</p>
<p>positive: {{ object.positive }}</p>
<p>positiveIncrease: {{ object.positiveIncrease }}</p>
<p>states: {{ object.states }}</p>
<p>totalTestResults: {{ object.totalTestResults }}</p>
<p>totalTestResultsIncrease: {{ object.totalTestResultsIncrease }}</p>